<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <div id="app">
        <!-- v-model in Textbox -->
        <input type="text" v-model="pesan1">
        <br> {{ pesan1 }}
        <br>
        <br>
        <br>
        <!-- v-model in Textbox -->
        <textarea cols="30" rows="10" v-model="iniTextarea"></textarea>
        <br>
        <pre>{{ iniTextarea }}</pre>
        <br>
        <br>
        <br>
        <!-- v-model in RadioButton -->
        <input type="radio" v-model="iniRadioButton" value="pilih1">Pilihan 1
        <br>
        <input type="radio" v-model="iniRadioButton" value="pilih2">Pilihan 2
        <br>
        <h3>Anda Memilih: {{ iniRadioButton }}</h3>
    </div>


    <!-- add Vue.js -->
    <script src="Vue/vue.js"></script>
    <script src="Vue-009-v-model_in_RadioButton.js"></script>
</body>

</html>